@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: 0; font-size: 100%; font: inherit; margin: 0; padding: 0; vertical-align: baseline;
}
body { line-height: 1}
ol, ul { list-style: none; }
/* Page styles
----------------------------------------------- */
html, body, #scene { font-family: sans-serif; height: 100%; width: 100%; }
html { background-color: #000; }
#scene { position: relative; }
#invaders {
	height: 135px;
	margin: 50px auto;
	width: 680px;
}
.invaders-row {
	margin: 10px auto;
}
.type1 {
	height: 25%;
	width: 77.78%;
}
.type2 {
	height: 23.21%;
	width: 99.31%;
}
.type3 {
	height: 21.44%;
	width: 100%;
}
.invader {
	display: inline-block;
	height: 100%;
	margin: 0 1%;
	position: relative;
	vertical-align: top;
	width: 8%;
}
.invader-body {
	height: 100%;
	width: 100%;
}
.inv-el {
	display: block;
	height: 12.5%;
}

/* invaders */
.type1 .inv-el1 {
	background-image: -moz-linear-gradient(left,  #000000 0%, #000000 18.18%, #ffffff 18.18%, #ffffff 27.27%, #000000 27.27%, #000000 72.73%, #ffffff 72.73%, #ffffff 81.82%, #000000 81.82%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(18.18%,#000000), color-stop(18.18%,#ffffff), color-stop(27.27%,#ffffff), color-stop(27.27%,#000000), color-stop(72.73%,#000000), color-stop(72.73%,#ffffff), color-stop(81.82%,#ffffff), color-stop(81.82%,#000000), color-stop(100%,#000000));
	background-image: -webkit-linear-gradient(left,  #000000 0%,#000000 18.18%,#ffffff 18.18%,#ffffff 27.27%,#000000 27.27%,#000000 72.73%,#ffffff 72.73%,#ffffff 81.82%,#000000 81.82%,#000000 100%);
	background-image: -o-linear-gradient(left,  #000000 0%,#000000 18.18%,#ffffff 18.18%,#ffffff 27.27%,#000000 27.27%,#000000 72.73%,#ffffff 72.73%,#ffffff 81.82%,#000000 81.82%,#000000 100%);
	background-image: -ms-linear-gradient(left,  #000000 0%,#000000 18.18%,#ffffff 18.18%,#ffffff 27.27%,#000000 27.27%,#000000 72.73%,#ffffff 72.73%,#ffffff 81.82%,#000000 81.82%,#000000 100%);
	background-image: linear-gradient(to right,  #000000 0%,#000000 18.18%,#ffffff 18.18%,#ffffff 27.27%,#000000 27.27%,#000000 72.73%,#ffffff 72.73%,#ffffff 81.82%,#000000 81.82%,#000000 100%);
}
.type1 .inv-el2 {
	background-image: -moz-linear-gradient(left,  #000000 0%, #000000 27.27%, #ffffff 27.27%, #ffffff 36.36%, #000000 36.36%, #000000 63.63%, #ffffff 63.63%, #ffffff 72.73%, #000000 72.73%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(27.27%,#000000), color-stop(27.27%,#ffffff), color-stop(36.36%,#ffffff), color-stop(36.36%,#000000), color-stop(63.63%,#000000), color-stop(63.63%,#ffffff), color-stop(72.73%,#ffffff), color-stop(72.73%,#000000), color-stop(100%,#000000));
	background-image: -webkit-linear-gradient(left,  #000000 0%,#000000 27.27%,#ffffff 27.27%,#ffffff 36.36%,#000000 36.36%,#000000 63.63%,#ffffff 63.63%,#ffffff 72.73%,#000000 72.73%,#000000 100%);
	background-image: -o-linear-gradient(left,  #000000 0%,#000000 27.27%,#ffffff 27.27%,#ffffff 36.36%,#000000 36.36%,#000000 63.63%,#ffffff 63.63%,#ffffff 72.73%,#000000 72.73%,#000000 100%);
	background-image: -ms-linear-gradient(left,  #000000 0%,#000000 27.27%,#ffffff 27.27%,#ffffff 36.36%,#000000 36.36%,#000000 63.63%,#ffffff 63.63%,#ffffff 72.73%,#000000 72.73%,#000000 100%);
	background-image: linear-gradient(to right,  #000000 0%,#000000 27.27%,#ffffff 27.27%,#ffffff 36.36%,#000000 36.36%,#000000 63.63%,#ffffff 63.63%,#ffffff 72.73%,#000000 72.73%,#000000 100%);
}
.type1 .inv-el3 {
	background-image: -moz-linear-gradient(left,  #000000 0%, #000000 18.18%, #ffffff 18.18%, #ffffff 81.82%, #000000 81.82%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(18.18%,#000000), color-stop(18.18%,#ffffff), color-stop(81.82%,#ffffff), color-stop(81.82%,#000000), color-stop(100%,#000000));
	background-image: -webkit-linear-gradient(left,  #000000 0%,#000000 18.18%,#ffffff 18.18%,#ffffff 81.82%,#000000 81.82%,#000000 100%);
	background-image: -o-linear-gradient(left,  #000000 0%,#000000 18.18%,#ffffff 18.18%,#ffffff 81.82%,#000000 81.82%,#000000 100%);
	background-image: -ms-linear-gradient(left,  #000000 0%,#000000 18.18%,#ffffff 18.18%,#ffffff 81.82%,#000000 81.82%,#000000 100%);
	background-image: linear-gradient(to right,  #000000 0%,#000000 18.18%,#ffffff 18.18%,#ffffff 81.82%,#000000 81.82%,#000000 100%);
}
.type1 .inv-el4 {
	background-image: -moz-linear-gradient(left,  #000000 0%, #000000 9.09%, #ffffff 9.09%, #ffffff 27.27%, #000000 27.27%, #000000 36.36%, #ffffff 36.36%, #ffffff 63.63%, #000000 63.63%, #000000 72.73%, #ffffff 72.73%, #ffffff 90.9%, #000000 90.9%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(9.09%,#000000), color-stop(9.09%,#ffffff), color-stop(27.27%,#ffffff), color-stop(27.27%,#000000), color-stop(36.36%,#000000), color-stop(36.36%,#ffffff), color-stop(63.63%,#ffffff), color-stop(63.63%,#000000), color-stop(72.73%,#000000), color-stop(72.73%,#ffffff), color-stop(90.9%,#ffffff), color-stop(90.9%,#000000), color-stop(100%,#000000));
	background-image: -webkit-linear-gradient(left,  #000000 0%,#000000 9.09%,#ffffff 9.09%,#ffffff 27.27%,#000000 27.27%,#000000 36.36%,#ffffff 36.36%,#ffffff 63.63%,#000000 63.63%,#000000 72.73%,#ffffff 72.73%,#ffffff 90.9%,#000000 90.9%,#000000 100%);
	background-image: -o-linear-gradient(left,  #000000 0%,#000000 9.09%,#ffffff 9.09%,#ffffff 27.27%,#000000 27.27%,#000000 36.36%,#ffffff 36.36%,#ffffff 63.63%,#000000 63.63%,#000000 72.73%,#ffffff 72.73%,#ffffff 90.9%,#000000 90.9%,#000000 100%);
	background-image: -ms-linear-gradient(left,  #000000 0%,#000000 9.09%,#ffffff 9.09%,#ffffff 27.27%,#000000 27.27%,#000000 36.36%,#ffffff 36.36%,#ffffff 63.63%,#000000 63.63%,#000000 72.73%,#ffffff 72.73%,#ffffff 90.9%,#000000 90.9%,#000000 100%);
	background-image: linear-gradient(to right,  #000000 0%,#000000 9.09%,#ffffff 9.09%,#ffffff 27.27%,#000000 27.27%,#000000 36.36%,#ffffff 36.36%,#ffffff 63.63%,#000000 63.63%,#000000 72.73%,#ffffff 72.73%,#ffffff 90.9%,#000000 90.9%,#000000 100%);
}
.type1 .inv-el5 {
	background-color: #fff;
}
.type1 .inv-el6 {
background-image: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 9.09%, #000000 9.09%, #000000 18.18%, #ffffff 18.18%, #ffffff 81.82%, #000000 81.82%, #000000 90.9%, #ffffff 90.9%, #ffffff 100%);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(9.09%,#ffffff), color-stop(9.09%,#000000), color-stop(18.18%,#000000), color-stop(18.18%,#ffffff), color-stop(81.82%,#ffffff), color-stop(81.82%,#000000), color-stop(90.9%,#000000), color-stop(90.9%,#ffffff), color-stop(100%,#ffffff));
background-image: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 9.09%,#000000 9.09%,#000000 18.18%,#ffffff 18.18%,#ffffff 81.82%,#000000 81.82%,#000000 90.9%,#ffffff 90.9%,#ffffff 100%);
background-image: -o-linear-gradient(left,  #ffffff 0%,#ffffff 9.09%,#000000 9.09%,#000000 18.18%,#ffffff 18.18%,#ffffff 81.82%,#000000 81.82%,#000000 90.9%,#ffffff 90.9%,#ffffff 100%);
background-image: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 9.09%,#000000 9.09%,#000000 18.18%,#ffffff 18.18%,#ffffff 81.82%,#000000 81.82%,#000000 90.9%,#ffffff 90.9%,#ffffff 100%);
background-image: linear-gradient(to right,  #ffffff 0%,#ffffff 9.09%,#000000 9.09%,#000000 18.18%,#ffffff 18.18%,#ffffff 81.82%,#000000 81.82%,#000000 90.9%,#ffffff 90.9%,#ffffff 100%);
}
.type1 .inv-el7 {
	background-image: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 9.09%, #000000 9.09%, #000000 18.18%, #ffffff 18.18%, #ffffff 27.27%, #000000 27.27%, #000000 72.73%, #ffffff 72.73%, #ffffff 81.82%, #000000 81.82%, #000000 90.9%, #ffffff 90.9%, #ffffff 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(9.09%,#ffffff), color-stop(9.09%,#000000), color-stop(18.18%,#000000), color-stop(18.18%,#ffffff), color-stop(27.27%,#ffffff), color-stop(27.27%,#000000), color-stop(72.73%,#000000), color-stop(72.73%,#ffffff), color-stop(81.82%,#ffffff), color-stop(81.82%,#000000), color-stop(90.9%,#000000), color-stop(90.9%,#ffffff), color-stop(100%,#ffffff));
	background-image: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 9.09%,#000000 9.09%,#000000 18.18%,#ffffff 18.18%,#ffffff 27.27%,#000000 27.27%,#000000 72.73%,#ffffff 72.73%,#ffffff 81.82%,#000000 81.82%,#000000 90.9%,#ffffff 90.9%,#ffffff 100%);
	background-image: -o-linear-gradient(left,  #ffffff 0%,#ffffff 9.09%,#000000 9.09%,#000000 18.18%,#ffffff 18.18%,#ffffff 27.27%,#000000 27.27%,#000000 72.73%,#ffffff 72.73%,#ffffff 81.82%,#000000 81.82%,#000000 90.9%,#ffffff 90.9%,#ffffff 100%);
	background-image: -ms-linear-gradient(left,  #ffffff 0%,#ffffff 9.09%,#000000 9.09%,#000000 18.18%,#ffffff 18.18%,#ffffff 27.27%,#000000 27.27%,#000000 72.73%,#ffffff 72.73%,#ffffff 81.82%,#000000 81.82%,#000000 90.9%,#ffffff 90.9%,#ffffff 100%);
	background-image: linear-gradient(to right,  #ffffff 0%,#ffffff 9.09%,#000000 9.09%,#000000 18.18%,#ffffff 18.18%,#ffffff 27.27%,#000000 27.27%,#000000 72.73%,#ffffff 72.73%,#ffffff 81.82%,#000000 81.82%,#000000 90.9%,#ffffff 90.9%,#ffffff 100%);
}
.type1 .inv-el8 {
	background-image: -moz-linear-gradient(left,  #000000 0%, #000000 27.27%, #ffffff 27.27%, #ffffff 45.45%, #000000 45.45%, #000000 54.54%, #ffffff 54.54%, #ffffff 72.73%, #000000 72.73%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%,#000000), color-stop(27.27%,#000000), color-stop(27.27%,#ffffff), color-stop(45.45%,#ffffff), color-stop(45.45%,#000000), color-stop(54.54%,#000000), color-stop(54.54%,#ffffff), color-stop(72.73%,#ffffff), color-stop(72.73%,#000000), color-stop(100%,#000000));
	background-image: -webkit-linear-gradient(left,  #000000 0%,#000000 27.27%,#ffffff 27.27%,#ffffff 45.45%,#000000 45.45%,#000000 54.54%,#ffffff 54.54%,#ffffff 72.73%,#000000 72.73%,#000000 100%);
	background-image: -o-linear-gradient(left,  #000000 0%,#000000 27.27%,#ffffff 27.27%,#ffffff 45.45%,#000000 45.45%,#000000 54.54%,#ffffff 54.54%,#ffffff 72.73%,#000000 72.73%,#000000 100%);
	background-image: -ms-linear-gradient(left,  #000000 0%,#000000 27.27%,#ffffff 27.27%,#ffffff 45.45%,#000000 45.45%,#000000 54.54%,#ffffff 54.54%,#ffffff 72.73%,#000000 72.73%,#000000 100%);
	background-image: linear-gradient(to right,  #000000 0%,#000000 27.27%,#ffffff 27.27%,#ffffff 45.45%,#000000 45.45%,#000000 54.54%,#ffffff 54.54%,#ffffff 72.73%,#000000 72.73%,#000000 100%);
}
/* Aides
----------------------------------------------- */
.hidden { display: none !important; visibility: hidden; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }